.athletes{
  background-color: var(--dark-color);

  &__title{
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    color: var(--light-color);
    text-align: center;

    @include responsive{
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__container{
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    padding-bottom: 27px;
  }

  &__item1{
    width: 386px;
    height: 536px;
    background-image: url(../../img/sportsman1.jpg);
    background-repeat: no-repeat;

    @include responsive{
      width: 290px;
      height: 536px;
      margin-top: 15px;
      // margin-left: 20px;
      background-image: url(../../img/sportsman1-small.png);
    }
  }

  &__item2{
    width: 386px;
    height: 536px;
    background-image: url(../../img/sportsman2.jpg);
    background-repeat: no-repeat;

    @include responsive{
      width: 290px;
      height: 536px;
      // margin-left: 20px;
      background-image: url(../../img/sportsman2-small.png);

    }
  }

  &__item3{
    width: 386px;
    height: 536px;
    background-image: url(../../img/sportsman3.jpg);
    background-repeat: no-repeat;

    @include responsive{
      width: 290px;
      height: 536px;
      // margin-left: 20px;

    }
  }

  &__item--title{
    text-align: center;
    margin: 0;
    margin-top: 464px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 1.92px;
    color: var(--text-color);
  }

  &__item--subtitle{
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1.92px;
    color: var(--text-color);
  }
}
