<section class="athletes">
  <div class="container-main">
    <h2 class="athletes__title">CONOCE NUESTRO EQUIPO</h2>
    <div class="athletes__container">
      <div class="athletes__item1">
        <h3 class="athletes__item--title">Alan Ramirez</h3>
        <p class="athletes__item--subtitle">Entrenador</p>
      </div>
      <div class="athletes__item2">
        <h3 class="athletes__item--title">Natalia Buruno</h3>
        <p class="athletes__item--subtitle">Entrenadora</p>
      </div>
      <div class="athletes__item3">
        <h3 class="athletes__item--title">Alex Perez</h3>
        <p class="athletes__item--subtitle">Entrenador</p>
      </div>
    </div>
  </div>
</section>
