<footer class="footer">
  <div class="container-main">
    <div class="footer__container">
      <div class="footer__contacts">
        <h4 class="footer__copyright">Copyright @ 2022 All Rights Reserved.</h4>
        <a href="tel:+555555555" class="footer__phone footer__link">+555 55 5555</a>
        <a href="mailto:info@gym.com" class="footer__email footer__link">info@gym.com</a>
        <a href="https://goo.gl/maps/7hWCfBiScJuiZZwF7" target="_blank" class="footer__address footer__link">Santiago, Chile</a>
      </div>
      <div class="footer__social">
        <a href="#"><img src="../img/svg/facebook.svg" alt="facebook" class="footer__svg"></a>
        <a href="#"><img src="../img/svg/instagram.svg" alt="instagram" class="footer__svg"></a>
        <a href="#"><img src="../img/svg/twitter.svg" alt="twitter" class="footer__svg"></a>
        <a href="#"><img src="../img/svg/youtube.svg" alt="youtube" class="footer__svg"></a>
      </div>
    </div>
  </div>
</footer>
