<header class="header">
  <div class="container-main">
    <div class="header__container">
      <img src="../img/svg/logo.svg" alt="logo" class="header__logo">
      <ul class="header__nav" data-menu>
        <li class="header__item list-reset"><a class="header__link" href="#">HOME</a></li>
        <li class="header__item list-reset"><a class="header__link" href="#">ENTRENADOR</a></li>
        <li class="header__item list-reset"><a class="header__link" href="#">PRODUCTOS</a></li>
        <li class="header__item list-reset"><a class="header__link" href="#">CLASES</a></li>
        <li class="header__item list-reset"><a class="header__link" href="#">CONTACTOS</a></li>
      </ul>
      <!-- <button class="btn-reset burger-close"></button> -->
      <button class="header__button btn-reset btn-light">UNETE AHORA</button>
      <button class="burger btn-reset" aria-label="Открыть меню" aria-expanded="false"  data-burger>
        <span class="burger__line" data-line1></span>
        <span class="burger__line" data-line2></span>
        <span class="burger__line" data-line3></span>
        <span class="burger__line" data-line4></span>
      </button>
    </div>
  </div>
</header>
