<section class="info">
  <div class="container-main">
    <div class="info__container">
      <div class="info__descr">
      <img src="../img/svg/logo2.svg" alt="logo" class="info__logo">
      <p class="info__text">Ofrecemos la posibilidad de realizar actividades
        deportivas: Crossfit, Boxeo, Gym y Otros, en pro de mejorar tú de salud
        y resistencia fisica, a través de un sistema de entrenamiento 100% profesional.</p>
    </div>
    <div class="info__information">
      <h3 class="info__information--title">INFORMACION</h3>
      <ul class="list-reset info__information--nav">
        <li class="list-reset"><a class="info__information--item" href="#">HOME</a></li>
        <li class="list-reset"><a class="info__information--item" href="#">ENTRENADORES</a></li>
        <li class="list-reset"><a class="info__information--item" href="#">PRODUCTOS</a></li>
        <li class="list-reset"><a class="info__information--item" href="#">CLASES</a></li>
        <li class="list-reset"><a class="info__information--item" href="#">CONTACTO</a></li>
      </ul>
    </div>
      <form action="#" class="info__form">
        <h3 class="info__form--title">SUSCRIBETE</h3>
        <label class="info__label">
          <input type="email" name="E-mail" class="info__email" placeholder="EMAIL">
        </label>
        <button class="info__button">SUBSCRIBE</button>
      </form>
    </div>
  </div>
</section>
