<section class="prices">
  <div class="container-main">
    <h2 class="prices__title">NUESTROS PRECIOS</h2>
    <div class="prices__container">
    <div class="prices__item">
      <h3 class="prices__item--title">PLAN BASICO</h3>
      <h3 class="prices__item--price">$20<span class="size">mes</span></h3>
      <div class="prices__text--container">
      <p class="prices__item--text">Acceso ilimitado 24h</p>
      <p class="prices__item--text">Entrenador personal</p>
      <p class="prices__item--text">Casillero + Baño</p>
    </div>
      <button class="prices__item--button btn-dark">UNETE AHORA</button>
    </div>
    <div class="prices__item">
      <h3 class="prices__item--title">PLAN MEDIO</h3>
      <h3 class="prices__item--price">$28<span class="size">mes</span></h3>
      <div class="prices__text--container">
      <p class="prices__item--text">Acceso ilimitado 24h</p>
      <p class="prices__item--text">Entrenador personal</p>
      <p class="prices__item--text">Casillero + Baño</p>
      <p class="prices__item--text">Masaje 1 vez al mes</p>
    </div>
      <button class="prices__item--button btn-dark">UNETE AHORA</button>
    </div>
    <div class="prices__item">
      <h3 class="prices__item--title">PLAN PRO</h3>
      <h3 class="prices__item--price">$35<span class="size">mes</span></h3>
      <div class="prices__text--container">
      <p class="prices__item--text">Acceso ilimitado 24h</p>
      <p class="prices__item--text">Entrenador personal</p>
      <p class="prices__item--text">Casillero + Baño</p>
      <p class="prices__item--text">Masaje 3 vez al mes</p>
      <p class="prices__item--text">1 Sesion de Spa</p>
    </div>
      <button class="prices__item--button btn-dark">UNETE AHORA</button>
    </div>
  </div>
</div>
</section>
