<section class="welcome">
  <div class="welcome__color">
    <div class="container-main">
      <div class="welcome__color-container">
        <h2 class="welcome__color-title">OBTÉN HASTA 3 DÍAS DE GIMNASIO GRATIS</h2>
        <button class="welcome__color-button btn-light">AQUI</button>
      </div>
    </div>
  </div>
  <div class="container-main">
<div class="welcome__container">
  <h2 class="welcome__title">UNA GRAN OFERTA PARA ESTE VERANO</h2>
  <h2 class="welcome__subtitle">50% rebajado</h2>
  <button class="welcome__button btn-light">UNETE AHORA</button>
</div>
  </div>
</section>
